/*reset css: permite que las paginas se vean igual en todos los navegadores*/
/*aqui comienza el reset css*/
html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,pre,code,address,form,fieldset{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}
ol{
    margin-left: 1.4em;
    list-style: square;
}
img{
    border: 0;
}
/*hasta aqui el reset css*/

#mymain{
    float: left;/*permite que un bloque se quede a la izquierda*/
    width: 580px;
}

#lateral{
    margin-left: 600px;
    padding: 15px;
    background-color: rgb(126, 125, 128);
}

body{
    color: #b1967c;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-top: 100px;
    background: rgb(144, 144, 144) url(/imag/fondo.jpg) repeat-x;
    width: 800px;
    margin: 0 auto;
}
h1{
    font-size: 3em;
    font-family: "Arial Black", Gadget, sans-serif;
}
h2{
    font-size: 2.2em;
    color: #600;
    margin-bottom: 5px;
}
#mymain h2{
    color: rgb(114, 85, 85);
    border-bottom: 2px white solid;
    background: url(/imag/myflower.jpg) no-repeat;
    padding: 0 0 2px 80px;/*arriba, derecha, abajo, izquierda*/
}
#mymain p{
    color: #616161;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.1em;
    line-height: 150%; /*aumenta el interlineado de las filas*/
    margin-bottom: 10px;
    margin-left: 80px;
}
#mymain .intro{
    color: #6a94f6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-left: 0px;
    margin-bottom: 25px;
}