
p{
    color: #666;
    font-size: 1em;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 100px;
}
h1, h2, h3{
    color: rgb(21, 80, 21);
    font-family: Baskerville, "Palatino Linotype", Times, serif;
    border-top: 2px;
    border-top: solid;
    border-top-color: #093;
    padding-top: 7px;
    padding-left: 100px;
}
.myattemp{
    color: #000;
    border: 2px dashed brown;
    background-color: rgb(221, 221, 109);
    margin-top: 25px;
    margin-bottom: 35px;
    padding: 20px;
}
.myattemp strong{
    color: rgb(240, 123, 13);
}

#mybody{
    background-color: rgb(243, 225, 145);
    background-image: url(/imag/fondo9.jpg);
    background-repeat: repeat-y;
    background-position: center top;
    width: 760px;
    margin: 0 auto;
}
h1+p{
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    line-height: 140%;
    margin-top: 20px;
}