

/* LA POSICIÓN RELATIVAS*/
/*span.special{
    position: relative;
    background-color: #eee;
    border: 1px solid black;
    left: 5px;
    top: -5px;
}*/



/*LA POSICIÓN ABSOLUTA*/
/*#special{
    position: absolute;
    border: 5px solid #000;
    background-color: #eee;
    width: 400px;
    left: 75px;
    top: 150px;
}
#special p{
    margin: 0;
}
#imagen{
    position:absolute;
    left: 30px;
    top: 50px;
}
#flor{
    position: absolute;
}*/



/* LA POSICIÓN FIJA*/
#special{
    position: fixed;
    border: 1px solid #000;
    background-color: #eee;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
}
#special p{
    text-align: center
}
#texto{
    margin-top: 100px
}




