

body, html{
    height: 100%;
    margin: 0;
}
#mydiv{
    background-image: url("/css_by_a_book/all_images/building1.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;

}
#mydiv{
    display: flex;
    justify-content: center;
}
form img{
    position: relative;
    left: 40px;
    top: 4px;
    width: 20px;
}
form{
    background-color: white;
    margin-top: 50px;
    border-radius: 20px;
}
form .username, form .password{
    width: 350px;
    height: 80px;
    border-style: inherit;
    border-bottom: 1px solid #000;
    padding-left: 70px;
    margin-left: -25px;
    font: 1.3em Tahoma, Times, sans-serif;
}
form .username{
    margin-top: 20px;

}
form .mybot{
    margin-top: 30px;
    width: 150px;
    height: 40px;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    color: white;
    font-family: Arial, Times, sans-serif;
    font-weight: bold;
    background: linear-gradient(to right, rgb(118, 13, 145), rgb(196, 11, 125), rgb(233, 34, 143));
    
}
#innerdiv h1{
    color: white;
    text-align: center;
    margin-top: 180px;
    font-family: Arial, Helvetica, sans-serif;
}
#myinput{
    display: flex;
    justify-content: center;
}
form .username:focus, form .password:focus{
    outline: none;
}