


#contenedor-lista{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    width: 300px;
    height: 100px;
    border: 1px solid #000;
    background-color: #eee;
    padding: 10px;
}
#contenedor-lista li{
    list-style: none;
    padding: 5px;
    border: 1px solid #000;
    background-color: white;
}
.dos{
    align-self: flex-end;
}
.cuatro{
    align-self: center;
}








