/*reset css: permite que las paginas se vean igual en todos los navegadores*/
/*aqui comienza el reset css*/
html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,pre,code,address,form,fieldset{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}
table{border-collapse: collapse; border-spacing: 0;}
td, th, caption {font-weight: normal; text-align: left;}
img, fieldset {border: 0;}
ol{padding-left: 1.4em; list-style: decimal;}
ul{padding-left: 1.4em; list-style: square;}
q:before, q:after{content: "";}
/*hasta aqui el reset css*/
body{
    font-size: 62.5%;
}
#mycontaner{
    margin-left: 15px;
    margin-top: 15px;
    border: 1px dashed #999;
    border-right: none;
    border-bottom: none;
}

#galery .picture p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    line-height: normal;
}
h1{
    font: normal 2.4em Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    border-bottom: 1px dashed #999;
    color: #14556b;
}
p{
    font: 1.6em Georgia, "Times New Roman", Times, sans-serif;
    margin: 10px 8px;
}
.photo img{
    border: 1px solid #666;
    background-color: #ccc;
    padding: 5px;
    position: relative;
    top: -5px;
    left: -8px;
}
.picture p{
    font: 1.1em Arial, Helvetica, sans-serif;
    margin: 10px 0 0 0;
    height: 5em;
}
.picture{
    float: left;
    width: 210px;
    margin: 0 10px 10pc 10px;
}
.photo{
    background: url("/imag/mygif.gif") right bottom no-repeat;
}