

/*EL COLOR DE FONDO*/
/*p{
    width: 600px;
    padding: 20px;
    border: 10px solid #000;
}
#p-uno{
    background-color: #7be;
}
#p-dos{
    background-color: rgb(200,200,200);
}*/



/*LAS IMAGENES DE FONDO*/
/*p{
    width: 600px;
    padding: 20px;
    border: 10px solid black;
}
#p-uno{
    background-image: url("/css_by_a_book/all_images/nature.jpg");
    color: White;
}
#p-dos{
    background: url("/css_by_a_book/all_images/nature2.jpg") center top no-repeat;
    /*background-size: contain;*/
    /*background-size: cover;
}*/



/*LOS DEGRADADOS DE COLORES*/
/*p{
    width: 600px;
    padding: 20px;
    border: 5px solid #000;
}
#p-uno{
    background: linear-gradient(45deg, white, blue);
}
#p-dos{
    background: linear-gradient(to top, white, blue, yellow);
}
#p-tres{
    background: radial-gradient(circle, white, blue, darkred);
}

p{
    background: radial-gradient(ellipse, white, yellow, darkblue);
}*/



/*LA OPACIDAD DE LOS PANELES*/
/*p{
    width: 600px;
    padding: 20px;
    border: 5px solid black;
    background-color: #eee;
}
#p-uno{
    opacity: 1;
}
#p-dos{
    opacity: .5;
}
#p-tres{
    opacity: .25;
}*/




/*las esquinas redondeadas de los paneles*/
/*p{
    width: 600px;
    padding: 30px;
    border: 5px solid black;
}
#p-uno{
    border-radius: 30px;
}
#p-dos{
    border-radius: 15px 25px 35px 45px;
}
#p-tres{
    border-radius: 20px 80px;
}*/


/*el sombreado de los paneles*/
p{
    width: 600px;
    padding: 30px;
    border: 5px solid darkred;
    background-color: #eee;
}
#p-uno{
    box-shadow: 10px 10px;
}
#p-dos{
    box-shadow: 15px 15px 10px #010;
}
#p-tres{
    box-shadow: 20px 10px 10px #bbb inset ;
}





