

/* LA FUNCION Y EL PUNTO DE REFERENCIA */
/*#init{
    position:absolute;
    left: 50%;
    top: 40px;
    width: 100px;
    height: 100px;
    background-color: lightyellow;
    border: 1px solid #000;
}
#transformacion{
    position:absolute;
    left: 50px;
    top: 40px;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 1px solid #000;
}
.rotacion-c{
    transform: rotate(25deg);
}
.rotacion-hg{
    transform-origin: left top;
    transform: rotate(25deg);
}*/




/* EL DESPLAZAMIENTO */
.desplazamiento-derecha-abajo{
    transform: translate(300px, 60px);
}



/* EL ESCALADO */
#init{
    position:absolute;
    left: 50%;
    top: 40px;
}
#transformacion{
    position: absolute;
    left: 50%;
    top: 40px;
}
.escalado-p{
    transform: scale(0.5, 0.25);
}



/* LA DEFORMACION */
.deformacion{
    transform: skew(-30deg, 10deg);
}




