

/* CREAR UN DESPLAZAMIENTO HORIZONTAL */
#desplazamiento-H{
    position: absolute;
    left: 20px;
    top: 20px;
    /*transition-property: left;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 2s;*/
    transition: left 2s ease-in 2s;/*forma abreviada*/
}
#desplazamiento-H:hover{
    left: 500px;
    top: 20px;
}



/* CREAR UN DESPLAZAMIENTO HORIZONTAL Y VERTICAL */
#desplazamiento-HV{
    position: absolute;
    left: 20px;
    top: 20px;
    transition: left 2s ease-in 2s, top 2s linear;
}
#desplazamiento-HV:hover{
    left: 220px;
    top: 220px;
}




