



#contenedor-lista{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-start;
    align-content: flex-end;
    align-content: space-between;
    align-content: space-around;
    align-content: center;
    padding: 10px;
    border: 1px solid #000;
    background-color: #eee;
    width: 200px;
    height: 200px;
}



#contenedor-lista li{
    list-style: none;
    border: 1px solid #000;
    padding: 5px;
    background-color: white;
}

