


#cenido{
    width: 760px;
}
p#texto-cenido{
    text-align: justify;
}
.triangule-left{
    float: left;
    shape-outside: polygon(0 0, 100% 100%, 0 100%);
}
.triangule-rigth{
    float: right;
    shape-outside: polygon(100% 0, 100% 100%, 0 100%);
}

