
/*CREAR UNA MASCARA*/
/*.mascara{
    mask-image: url("/css_by_a_book/all_images/fondo.jpg");
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-position: center center;
}*/
/*sintaxis abreviada*/
.mascara{
    mask: url(fondo3.png) alpha no-repeat center center;
}



