
/* RODEAR UNA IMAGEN CON TEXTO*/
#mapa img{
    float: left;
    margin-right: 20px;
}
#mapa1 img{
    float: right;
    margin-left: 20px;
}



/* PROHIBIR LA FLOTACIÓN*/
.parar-flotamiento{
    clear: both;
}

