

p{
    color: orange;
    margin-left: 50px;
    padding-left: 20px;
    border-left: solid 22px rgb(73, 18, 18);
}
.mystyle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: rgb(109, 30, 30);
    width: 960px;
    margin: 0 auto;
}