


#contenedor{
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 20px;
    width: 90%;
    margin: auto;
}
header, footer{
    background-color: #eee;
    text-align: center;
}
aside{
    background-color: #bbb
}
header, main, aside, footer{
    padding: 10px;
    border: 1px solid #000;
}
p{
    margin: 0 0 20px 0;
}
header, footer{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #eee;
    text-align: center;
}







