


#translate{
    position: absolute;
    left: 100px;
    top: 100px;
    transition: left 2s ease-out, top 2s linear;
}
img{
    width: 300px;
}
#translate:hover{
    left: 500px;
    top: 500px;
}



