

body{
    margin: 0;
}

#mymain{
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)), url("/css_by_a_book/practicas/fullWEB/jevelinTHEME/1._Burger/images/hand.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100%;
}

#myheader{
    background-color: rgba(255, 255, 255, 0.452);
    width: 100%;
}
#myheader{
    position: fixed;
    top: 20px;
    left: -1px;
}
#headerdiv ul{
    display: flex;
    justify-content: center;
}
#headerdiv ul li i{
    color: white;
}
#myheader div ul li{
    list-style: none;
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}
#myheader div ul li a{
    text-decoration: none;
    color: white;
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding-right: 30px;
}
#myheader div h1{
    text-align: center;
    color: white;
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.2em;   
}


#navbar{
    position: fixed;
    top: 150px;
    right: 15px;
    width: 60px;
    background-color: white;
    border-radius: 8px;
}
#navbar ul#mylist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 350px;
    background-color: #fff;
    padding: 15px;
    margin: 0;
    border-radius: 8px;
}

#navbar ul li a img{
    width: 30px;
    height: 30px;
}
#navbar ul li{
    list-style: none;

}

#navbar ul li.showcase .myshowcase,
#navbar ul li.showcase .mydemo,
#navbar ul li.showcase .mypurchase,
#navbar ul li.showcase .myquestion,
#navbar ul li.showcase .mysupport,
#navbar ul li.showcase .myask{
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.884);
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    transform: translateX(2em);
    transition: all 0.3s ease-in-out 0s;
}

#navbar ul li.showcase .myshowcase{
    top: 0;
    right: 100%;
    width: 120px;
    height: 63px;
}
#navbar ul li.showcase .mydemo{
    top: 63px;
    right: 100%;
    height: 64px;
    width: 150px;
}
#navbar ul li.showcase .mypurchase{
    top: 127px;
    right: 100%;
    height: 64px;
    width: 180px;
}
#navbar ul li.showcase .myquestion{
    top: 191px;
    right: 100%;
    height: 63px;
    width: 210px;
}
#navbar ul li.showcase .mysupport{
    top: 254px;
    right: 100%;
    height: 63px;
    width: 150px;
}
#navbar ul li.showcase .myask{
    top: 317px;
    right: 100%;
    height: 63px;
    width: 250px;
}


.myshowcase a,
.mydemo a,
.mypurchase a,
.myquestion a,
.mysupport a,
.myask a{
    text-decoration: none;
    color: #000;
    position: absolute;
    font-size: .8em;
    top: 25px;
    left: 26%;
}

#navbar ul li.showcase:hover .myshowcase,
#navbar ul li.showcase:hover .mydemo,
#navbar ul li.showcase:hover .mypurchase,
#navbar ul li.showcase:hover .myquestion,
#navbar ul li.showcase:hover .mysupport,
#navbar ul li.showcase:hover .myask{
    visibility: visible;
    transform: translateX(0%);
    transition-delay: 0s;
}

#navbar ul li a img:hover{
    border: 2px solid rgb(0, 132, 255);
}