/*reset css: permite que las paginas se vean igual en todos los navegadores*/
/*aqui comienza el reset css*/
html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,pre,code,address,form,fieldset{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}
table{border-collapse: collapse; border-spacing: 0;}
td, th, caption {font-weight: normal; text-align: left;}
img, fieldset {border: 0;}
ol{padding-left: 1.4em; list-style: decimal;}
ul{padding-left: 1.4em; list-style: square;}
q:before, q:after{content: "";}
/*hasta aqui el reset css*/

body{
    color: #003;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62%;
}
#mymain h1{
    color: #f30;
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
    font-size: 4em;
}
#mymain h2{
    font: bold 3.5em "Hoafler Text", Garamond, Times, serif;
    border-bottom: 1px solid #000;
    margin-top: 25px;
}
#mymain h3{
    color: #f30;
    font-size: 1.9em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
}