/*reset css: permite que las paginas se vean igual en todos los navegadores*/
/*aqui comienza el reset css*/
html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,pre,code,address,form,fieldset{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}
table{border-collapse: collapse; border-spacing: 0;}
td, th, caption {font-weight: normal; text-align: left;}
img, fieldset {border: 0;}
ol{padding-left: 1.4em; list-style: decimal;}
ul{padding-left: 1.4em; list-style: square;}
q:before, q:after{content: "";}
/*hasta aqui el reset css*/

body{
    color: #003;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62%;
    background: #09F url(/imag/fondo9.jpg) repeat-x;
}
#mymain {
    width: 700px;
    margin: auto;
    border: 4px solid white;
    padding: 0 10px;
    background: url(/imag/fondo4.png) no-repeat;
}
#mymain h1{
    color: #f30;
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
    font-size: 4em;
}
#mymain h2{
    font: bold 3.5em "Hoafler Text", Garamond, Times, serif;
    border-bottom: 1px solid #000;
    margin-top: 25px;
    color: rgb(255, 0, 0);
}
#mymain h3{
    color: #f30;
    font-size: 1.9em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
}
#mymain p{
    font-size: 1.5em;
    line-height: 150%;
    margin-left: 150px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#mymain p:first-line{
    font-weight: bold;
    color: #666;
}
#mymain ul{
    margin: 50px 0 25px 50px; /*arriba, derecho, abajo, izquierdo*/
    width: 200px;
    float: right;
}
#mymain li{
    color: rgb(255, 0, 0);
    font-size: 1.5em;
    margin-bottom: 7px;
}
#mymain .autor{
    font-size: 1.6em;
    margin: 5px 0 25px 50px;
}
#mymain .autor strong{
    color: #F00;
    text-transform: uppercase;
    margin-left: 5px;
}
#mymain h1 strong{
    font-size: 150px;
    color: rgb(37, 31, 31);
    margin-right: -0.99em;
}