

body{
    background-image: url("/css_by_a_book/all_images/messa1.jpg");
}

#ottis{
    float: left;
    width: 660px;
    min-height: 100vh;
    background-color: rgba(201, 174, 174, 0.719);
    margin-top: -8px;
    margin-left: -7px;
    display: flex;
    justify-content: center;
}
#innerdiv{
    margin: auto;
}
#innerdiv #email, #innerdiv #password{
    width: 400px;
    height: 60px;
    /*border: 1px solid rgb(163, 154, 154);*/
    border-radius: 10px;
    background-color: rgba(201, 174, 174, 0.719);
    color: rgb(37, 37, 37);
    font-size: 1.3em;
    padding-left: 20px;
}

#email:hover, #password:hover{
    border: 1px solid blue;
}

#innerdiv #email{
    margin-top: 30px;
}
#innerdiv #password{
    margin-top: 10px;
}
#innerdiv h1{
    text-align: center;
    color: rgb(37, 37, 37);
    font: 1.5em Tahoma, Times, serif;
}

input#checkb{
    width: 18px;
    height: 18px;
}
p label, p a{
    position: relative;
    top: -4px;
}
p a{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -23px;
    text-decoration: none;
    color: rgb(37, 37, 37);
}
#innerdiv #subm{
    width: 425px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(26, 124, 236);
    font-weight: bold;
    color: white;
}

#para h3{
    text-align: center;
    margin-top: 50px;
    font: .93em Tahoma, Times, sans-serif;
}
#iconos{
    display: flex;
    justify-content: center;
}
#iconos a img{
    width: 35px;
    height: 35px;
}
#iconos a img.face{
    border-radius: 10px;
}
#iconos a img.twitt{
    margin-left: 5px;
    border-radius: 10px;
}



@media screen and (max-width: 760px){
    #ottis{
        width: 103%;
        margin-right: 0;
    }
    #innerdiv #email, #innerdiv #password{
        width: 300px;
        height: 50px;
    }
    #innerdiv #subm{
        width: 325px;
        height: 50px;
    }
}